
.conteudo {
  text-align: center;
  width: 100vw;
  top: 0;
  height: calc(100vh - 80px);
}

.contato {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

.contato__info-email {
  color: var(--preto);
  display: block;
  padding-bottom: 1em;
}

.contato__info-telefone {
  color: var(--preto);
}

.contato__titulo {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em 0;
}

.contato__info-telefone {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  font-size: 22px;
  background-color: var(--color-action);
  padding: 1em 0.5em;
  border-radius: 10px;
}

.contato__info-telefone::before {
  content: '☎';
  padding-right: 0.5rem;
}

.contato__social-lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social__lista-link img {
  width: 35px;
}