
.servicos__produtos-caixa {
  text-align: center;
}

.servicos__produtos-lista {
  width: 70vw;
  border: 1px solid var(--color-background);
  border-radius: 8px;
  margin: 2em auto;
  padding: 1em 2em;
}

.imagem-descricao {
  width: 150px;
  height: auto;
}

.produto-descricao {
  padding-bottom: 1em;
}

.produto-preco {
  font-size: 22px;
  font-weight: 700;
}
